<footer class="bg-dark footer mt-auto">
    <div class="container py-1 text-muted">
        <h3 class="d-inline">Connect</h3> 
        <div class="d-inline p-4" style="font-size: 1.5rem;">
            <a href="#" class="p-1" style="text-decoration: none; color: #fff5fd;;"><i class="fab fa-youtube"></i></a>
            <a href="#" class="p-1" style="text-decoration: none; color: #fff5fd;"><i class="fab fa-instagram"></i></a>
            <a href="#" class="p-1" style="text-decoration: none; color: #fff5fd;"><i class="fab fa-facebook-square"></i></a>
            <a href="#" class="p-1" style="text-decoration: none; color: #fff5fd;"><i class="fab fa-linkedin"></i></a>
        </div>
        <hr style="height:2px;">
    </div>
    <div class="row m-0 p-0" style="color: #ff96ad;">
        <div class="col-md-4 p-0 p-md-1"><h5 class="mb-0">Sparks Foundation </h5>
            <h5 class="mb-0">Privacy Policy</h5></div>
        <div class="col-md-4"></div>
        <div class="col-8 col-md-4"><h5 style="text-align-last: right;"><i class="fas fa-phone"> </i> <span> 9777565128</span></h5></div>
    </div>
    <div class="container py-1">
        <div class="text-center"><span class="text-muted">&copy;2021 OCO bank, All Rights Reserved</span></div>
    </div>
    <div class="row m-0" style="color: #fff5fd;">
        <div class="col-sm-6 offset-sm-6">
            <span class="d-block" style="text-align-last: right;">Designed By &#64;Ankita Sahu</span>
        </div>
    </div>
</footer>