<% layout('./layouts/layouts') %>
    <div class="container" style="font-family: 'Abel', sans-serif;">
        <div class="text-center" style="color: aliceblue;">
            <h1 class="display-4 text center" style="font-family: 'Dancing Script', cursive; color: #ff96ad;">Welcome To OCO Bank</h1>
        </div>
        